.about {
	width: 100%;
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about__hr {
	width: 50%;
	height: 6px;
	display: block;
	background-color: var(--color-yellow);
	border-radius: 10px;
	margin-bottom: 30px;
}

.about__content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 61px;
}

.about__title {
	font-family: 'Inria Serif', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	font-style: italic;
}

.about__description {
	width: 70%;
	text-align: justify;
	font-family: 'Inria Serif', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
}

.about__image {
	width: 600px;
}

.about__side {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__contributions {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	gap: 30px;
}

.about__vision {
	margin-left: -30px;
}

.about__subtitle {
	font-family: 'Inria Serif', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

.about__text {
	width: 100%;
	text-align: justify;
	font-family: 'Inria Serif', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
}