.contact {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 100PX 0;
}

.conatct__title {
	font-family: 'Inria Serif', sans-serif;
	font-size: 3rem;
	font-weight: bold;
}

.conatct__title::after {
	content: '';
	display: block;
	width: 80%;
	height: 4px;
	background-color: var(--color-yellow);
	margin: 0.4rem auto;
	border-radius: 10PX;
}

.conatct__list--item {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 20px 0;
	text-decoration: none;
	transition: all 0.3s ease;
}

.conatct__list--item:hover {
	transform: scale(1.05);
}


.conatct__list--item--icon {
	width: 50px;
	height: 50px;
}

.conatct__list--item--text {
	font-family: 'Inria Serif', sans-serif;
	font-size: 2.5rem;
	color: var(--color-white);
}

/* Responsive tablets */
@media (min-width: 768px) and (max-width: 1024px) {
	.contact {
		margin: 50px 0;
	}

	.conatct__title {
		font-size: 2.5rem;
	}

	.conatct__list--item--text {
		font-size: 1.5rem;
	}
}

/* Responsive móviles */
@media (max-width: 481px) {
	.contact {
		margin: 50px 0;
	}

	.conatct__title {
		font-size: 1.3rem;
	}

	.conatct__list--item--text {
		font-size: 1.2rem;
	}
}