.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 61px;
}

.footer__logo--img {
	width: 150px;
}

.footer__credits {
	font-family: 'Inria Serif', sans-serif;
	font-size: 1.5rem;
	color: var(--color-white);
}

/* Responsive tablets */
@media (min-width: 768px) and (max-width: 1024px) {
	.footer {
		padding: 15px 20px;
	}

	.footer__logo--img {
		width: 100px;
	}

	.footer__credits {
		font-size: 1.2rem;
	}
}

/* Responsive móviles */
@media (max-width: 481px) {
	.footer {
		padding: 10px;
	}

	.footer__logo--img {
		width: 80px;
	}

	.footer__credits {
		font-size: 0.55rem;
	}
}