.team {
	width: 100%;
	margin: 100px 0;
}

.team__title {
	width: 100%;
	font-family: 'Inria Serif', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.team__title::after {
	content: '';
	display: block;
	width: 65%;
	height: 6px;
	background-color: var(--color-yellow);
	margin-top: 10px;
	border-radius: 10px;
}

.team__grid {
	width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  grid-template-areas:
    "img1 img1 img2"
    "img3 img4 img4"
    "img5 img4 img4"
		"img6 img7 img7";
	margin: 0 auto;
}

.team__grid--item:nth-child(1) {
  grid-area: img1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team__grid--item:nth-child(2) {
  grid-area: img2;
  width: 100%;
  height: 465px;
  object-fit: cover;
}

.team__grid--item:nth-child(3) {
  grid-area: img3;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team__grid--item:nth-child(4) {
  grid-area: img4;
  width: 100%;
  height: 1055px;
  object-fit: cover;
}

.team__grid--item:nth-child(5) {
  grid-area: img5;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team__grid--item:nth-child(6) {
  grid-area: img6;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team__grid--item:nth-child(7) {
  grid-area: img7;
  width: 100%;
  height: 410px;
  object-fit: cover;
}

.team__grid--item {
	transition: all 0.3s ease;
	border-radius: 5px;
}

.team__grid--item:hover {
	transform: scale(0.98);
	outline: 6px solid var(--color-yellow);
	border-radius: 10px;
}

/* Responsive tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .team {
    margin: 50px 0;
  }

  .team__title {
    font-size: 2rem;
  }

  .team__grid {
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img4"
      "img6 img7";
  }

  .team__grid--item:nth-child(1) {
    grid-area: img1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(2) {
    grid-area: img2;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .team__grid--item:nth-child(3) {
    grid-area: img3;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .team__grid--item:nth-child(4) {
    grid-area: img4;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .team__grid--item:nth-child(5) {
    grid-area: img4;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .team__grid--item:nth-child(6) {
    grid-area: img6;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(7) {
    grid-area: img7;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

/* Responsive móviles */
@media (max-width: 481px) {
  .team {
    margin: 50px 0;
  }

  .team__title {
    font-size: 1.2rem;
    padding: 0 10px;
  }

  .team__title::after {
    width: 55%;
    height: 6px;
  }

  .team__grid {
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 10px;
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "img7";
  }

  .team__grid--item:nth-child(1) {
    grid-area: img1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(2) {
    grid-area: img2;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(3) {
    grid-area: img3;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(4) {
    grid-area: img4;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(5) {
    grid-area: img5;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(6) {
    grid-area: img6;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .team__grid--item:nth-child(7) {
    grid-area: img7;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}